* {
  padding: none;
  margin: none;
}

*::selection {
  background-color: #2aa09a81;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
}

.content-bg {
  background-image: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content-bg-anim {
  background-image: url("../img/content-bg.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  overflow: overlay;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow: overlay;
  overflow-x: hidden;
}

.greetings .first-line {
  font-size: 2rem;
  mix-blend-mode: difference;
}

.greetings .second-line {
  font-size: 8rem;
  mix-blend-mode: difference;
}

.greetings .third-line {
  font-size: 3rem;
  mix-blend-mode: difference;
}

.greetings .text {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  mix-blend-mode: difference;
}

.greetings {
  user-select: none;
}

.left-bar {
  position: fixed;
  bottom: 0;
  left: 60px;
  height: 350px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  user-select: none;
}

.left-bar .icon {
  font-size: large;
  margin-bottom: 35px;
  color: rgb(48, 48, 48);
}

.v-line {
  width: 1px;
  height: 100px;
  background-color: rgb(48, 48, 48);
}

.right-bar {
  position: fixed;
  bottom: 0;
  right: 60px;
  height: 350px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  user-select: none;
}

.right-bar p {
  color: rgba(48, 48, 48, 0.826);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 35px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.footer {
  font-size: 1em;
  text-align: center;
}

p a {
  color: #2aa09b;
  text-decoration: none;
}

p a:visited {
  color: #2aa09b;
}

p a:hover {
  transition: color 1s ease-in-out;
  color: #35c9c2;
  -webkit-transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  -o-transition: color 1s ease-in-out;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: none;
  }

  .greetings .first-line {
    font-size: 2rem;
    mix-blend-mode: difference;
  }

  .greetings .second-line {
    font-size: 5rem;
    mix-blend-mode: difference;
  }

  .greetings .third-line {
    font-size: 3rem;
    mix-blend-mode: difference;
  }

  .greetings .fourth-line {
    font-size: 1.2rem;
  }

  .fade-in {
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .visible-md {
    display: none;
  }

  .greetings .first-line {
    font-size: 1.3rem;
    mix-blend-mode: difference;
  }

  .greetings .second-line {
    font-size: 3.1rem;
    mix-blend-mode: difference;
  }

  .greetings .third-line {
    font-size: 1.6rem;
    mix-blend-mode: difference;
  }

  .greetings .fourth-line {
    font-size: 0.8rem;
  }

  .fade-in {
    opacity: 1;
  }
}
